/* If the viewport is equal to 340px or less than that  */
@media only screen and (max-width: 340px){
    .header_area .main_menu .navbar,
    .header_area .main_menu .navbar .navbar_brand
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }
} 

@media only screen and (max-width: 990px){

    .collapse.navbar-collapse.show .navbar-nav li{
        text-align: center;
        width: 100%;
    }

    /* TODO: Center the website logo */
    .container-fluid > .navbar_brand{
        margin: 0 auto;
        text-align: center;
        padding: 0%;
        background-color: green;
    }


}

