/* import fonts from fonts.css file */
@import url(./fonts.css);

/* import variables from variables.css file */
@import url(./partials/variables.css);

/* import _global.css file */
@import url(./partials/_global.css);

/* Start Navigation */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 10rem;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 600 15px/2px var(--Montserrat);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* End navigation */

/* Banner area */

.site-main .site-banner{
    /* TODO: Background needed */
    /* background: url(../img/banner3.jpg) no-repeat 0%; */
    background-size: 20% 80%;
    
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
     content: "";
     height: 2px;
     width: 18vw;
     background: black;
     display: inline-block;
     margin-left: 5%;
     transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image>img{
    padding: 7rem 0;
    width: 20rem;
    height: 35rem;
}


/* End Banner area */

/* Start About area */

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2>span{
    display: block;
    font: normal bold 49px/60px var(--Montserrat);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}
/* End About area */



/* Footer area */
footer.footer-area{
    padding: 4rem 0;
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('../img/footer.png') no-repeat ;
    background-size: 100%;
}

footer.footer-area .social h5{
    font: normal 500 23px/30px var(--Montserrat);
}
footer.footer-area .social a>i{
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover>i{
    color: var(--primary-color);
}

/* End footer area */

/* Start Projects page */

.site-main .projects-area{
    padding: 7rem 2rem;
}

.site-main .projects-area .projects-title{
    padding: 0 14rem;
}

/* .site-main .projects-area .projects-title h1{
    font-size: 35px;
} */

.site-main > .projects-area .projects{
    background: rgba(248, 252, 253, 0.37);
    padding: 2rem 2rem;
    margin: 2rem 5rem;
    transition: box-shadow .2s ease;
    align-items: center;
}

.site-main > .projects-area .projects:hover{
    box-shadow: var(--box-shadow);
}

/* End Projects page */

/* Start Blogs page */

.site-main .blogs-area{
    padding: 7rem 2rem;
}

.site-main .blogs-area .blogs-title{
    padding: 0 14rem;
}

.site-main > .blogs-area .blogs{
    background: rgba(248, 252, 253, 0.37);
    padding: 2rem 2rem;
    margin: 2rem 5rem;
    transition: box-shadow .2s ease;
    align-items: center;
}

.site-main > .blogs-area .blogs:hover{
    box-shadow: var(--box-shadow);
}

/* End Projects page */

/* Start Contact page */


/* End Contact page */