
video {
    display:block;
    margin: auto;
}

.camView {
    position: relative; 
}

.faceBox{
    border: 4px dashed rgba(102, 5, 212, 0.876);
    z-index: 1;
    position: absolute;
}

.removed{
    display: none;
}

.webcamButton{
    margin: 0 auto;
    text-align: center;
}


canvas{
    display: block;
    margin: auto;
}
